.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.contact-page textarea {
  height: 10rem;
}
.contact-page img {
  align-self: flex-start;
  margin: .5rem;
}

.contact-page h3 {
  background-color: #086A27;
  padding: 1rem 3rem;
  color: #F6F6F8;
  text-align: center;
  margin: 1rem 3rem;
}

.contact-form {
  margin: 3rem 3rem;
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.contact-form label {
  align-self: flex-start;
  margin-bottom: 0.5rem;
}

.contact-input {
  display: block;
  margin: .25rem;
  background-color: #CCCDD6;
  border: none;
  width: 300px;

}

@media(min-width: 800px) {
    .contact-page {
      margin: auto;
      width: 90%;
    }

    .contact-page h3 {
      text-align: center;
      font-size: 2.5rem;
      margin-bottom: 40px;
      padding: 1rem 3rem;
    }

    .contact-input {
      width: 30rem;
    }
  }