/* Home */
.home-container {
  margin: auto;
    width: 90vw;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
  }
  
  .nav-container h4 {
    align-self: flex-start;
    text-align: center;
    margin: 1rem 1rem 0 1rem;
    padding: 1rem 0.5rem;
    background: #EAB602;
    color: #2E2F38;
  }

  .nav-container .button-box{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 35%;
  }
  
  .nav-container button {
    /* margin: 1rem 1rem;  */
    /* width: 4rem; */
  }
  
  .top-content {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .top-content h3 { /* Here */
    text-align: center;
    color: #2E2F38;
  }
  
  /* .top-content img {
    width: 50%;
    height: 50%;
    width: auto;
    border-radius: 50%;
  } */
  
  .top {
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .top input, button {
    margin-top: 0.5rem;
  }
  
  .top input {
    width: 20rem;
  }

  .nav-box {
    padding-top: 1.5rem;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
  }

  .home-container .nav-box h3 {
    color: #2E2F38;
    margin: auto;
    width: 75%;
    padding-bottom: 5%;
    text-align: center;
  }
  
  @media(min-width: 800px) {
    .home-container {
      margin: auto;
      width: 90%;
    }

    .nav-container .button-box {
      flex-direction: row;
    }

  }